<!DOCTYPE html>
<html>
<head>
<script src="angular.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="colorfromspectrum.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.1.4/math.min.js"></script>
<style>
	html, body{
		width: 100%;
		height: 100%;
		font-size: 1em;
	}
	.sl {
		display: inline-block;
		width: 7em;
		vertical-align: middle;
		stroke: black;
		stroke-width: 3;
		//background-color: grey;
		//border: 1px solid grey;
	}
	.sl path{
		fill: none;
	}
	.sl circle{
		fill: red;
	}
	.container {
		border: 1px solid black;
		padding: 5px;
		float: left;
	}
	input {
		border: 1px dotted #ccc; 
		background: white; 
		font-family: monospace; 
		padding: 5px 5px; 
		font-size: 12px; 
		margin: 5px 0px 5px 0; 
		color: black; 
		text-align: center;
		width: 50px;
	}
	input:hover {background-color:yellow;}
	input:focus { background-color:cyan; outline: none;}
	tr {height: 5px; !important}
	.tooltip {
		position: relative;
		display: inline-block;
	}
	.tooltip .tooltiptext {
		visibility: hidden;
		width: 240px;
		background-color: rgba(0,0,0,0.5);
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;		
		/* Position the tooltip */
		position: absolute;
		z-index: 1;
		top: 100%;
		left: 100%;
		margin-left: -60px;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
	}
</style>
</head>
<body ng-app="app" ng-controller="main">
<div style="position:relative">
<div class="container">
	RI of substrate: 
	<div class="tooltip"><input ng-model="nsub"><span class="tooltiptext">Enter the refractive index of the substrate (air=1.0, water=1.33, glass=1.54).</span>
	</div>
	Max y-value for sparklines: 
	<div class="tooltip"><input ng-model="ymax">
		<span class="tooltiptext">Enter 0-100 for the percent reflectance for ymax, or 'x' to scale to each individual sparkline.</span>
	</div><br>
	Width:
	<div class="tooltip"><input type="number" ng-model="slwidth">
		<span class="tooltiptext">Width of each sparkline in 'em' units.</span>
	</div>
	Height:
	<div class="tooltip"><input type="number" ng-model="hmult">
		<span class="tooltiptext">Height of each sparkline in 'em' units.</span>
	</div>
	<input style="float:right; border-color: red;" type="button" ng-click="update()" value="Update"></input><br><hr>
	
	<div class="tooltip">TMin: <input type="number" ng-model-options="{ updateOn: 'blur' }"
				ng-model="tmin" >
		<span class="tooltiptext" style="width:180px">Minimum value for thickness in nm.</span>
	</div>
	<div class="tooltip">TMax: <input type="number" ng-model-options="{ updateOn: 'blur' }"
				ng-model="tmax" >
		<span class="tooltiptext" style="width:180px">Maximum value for thickness in nm.</span>
	</div>
	<div class="tooltip">TStep: <input type="number" ng-model-options="{ updateOn: 'blur' }"
				ng-model="tstep" >
		<span class="tooltiptext" style="width:180px">Step size for thickness in nm.</span>
	</div>
	<br>
	<div class="tooltip">NMin: <input type="number" ng-model-options="{ updateOn: 'blur' }"
				ng-model="nmin" >
		<span class="tooltiptext" style="width:180px">Minimum value for refractive index.</span>
				</div>
	<div class="tooltip">NMax: <input type="number" ng-model-options="{ updateOn: 'blur' }"
				ng-model="nmax" >
		<span class="tooltiptext" style="width:180px">Maximum value for refractive index.</span>
	</div>
	<div class="tooltip">NStep: <input type="number" ng-model-options="{ updateOn: 'blur' }"
				ng-model="nstep" >
		<span class="tooltiptext" style="width:180px">Step size for refractive index.</span>
	</div>
</div>			
	<table>
	<tr>
		<td style="width:50px">&nbsp;</td>
		<td ng-repeat="n in range(nmin,nmax,nstep)" align='center'>&nbsp;
			<b>{{n | number:2}}</b></td>
	</tr>
	<tr ng-repeat = "t in range(tmin,tmax,tstep)">
		<td>&nbsp;<b>{{t}} </b></td>
		<td ng-repeat="n in range(nmin,nmax,nstep)">
		<sl t="{{t}}" n="{{n}}"></sl>
		</td>
	</tr>
	</table>
<br>
<div style="position:absolute; bottom:0; ">
<a href="thinfilm_spark_form.html" style="color:grey; text-decoration: none;">Edit thickness and RI ranges.</a>
</div>
</div>
</body>
<script>

var wlMin = 350;
var wlMax = 800;
var wlStep = 5;

var curWL = wlMin;
var wl=[];
while (curWL <= wlMax) {
	wl.push(curWL);
	curWL += wlStep;
}

var app = angular.module('app', []);
app.controller("main",function($scope){main($scope)});
app.directive('sl', ['$timeout', function(timer){
	  function link(scope, el, attr, ctrl){
		el = d3.select(el[0]);
		var svg = el;
		svg.append("path");
		var dS = function(svg,scope) {drawSpark(svg,scope);}
		timer(function() {dS(svg,scope)},00);
	  }
	  return {
		  link: link
		, restrict: 'E'
		, replace: true
		, template: '<svg class="sl"></svg>'
	  };
	}]);
function main($scope) {
	$scope.nsub = 1.54;
	$scope.nmin = 1.2;
	$scope.nmax = 2;
	$scope.nstep = 0.1;
	$scope.tmin = 150;
	$scope.tmax = 500;
	$scope.tstep = 25;
	$scope.ymax = 'x';
	$scope.slwidth = 8;
	$scope.hmult = 1;
	var s = window.location.search.replace("?","").split("&");
	for (var i=0; i<s.length; i++) {
		var ss = s[i].split("=");
		switch (ss[0]) {
			case "nmin": 
				$scope.nmin = Number(ss[1]);
				break;
			case "nmax": 
				$scope.nmax = Number(ss[1]);
				break;
			case "nstep": 
				$scope.nstep = Number(ss[1]);
				break;
			case "tmin": 
				$scope.tmin = Number(ss[1]);
				break;
			case "tmax": 
				$scope.tmax = Number(ss[1]);
				break;
			case "tstep": 
				$scope.tstep = Number(ss[1]);
				break;
		}
	}
	console.log($scope.nmin, $scope.nmax, $scope.nstep);
	$scope.range = function(min, max, step) {
		step = Number(step) || 1;
		var input = [];
		for (var i = Number(min); i <= Number(max)+0.001; i += step) {
			input.push(i);
		}
		return input;
	};
	$scope.update = function() {
		d3.selectAll("svg")
			.each( function() {
				var curSVG = d3.select(this);
				drawSpark(curSVG, $scope);	
			});
	}
	//d3.selectAll("table").transition().duration(1000).style("opacity",1);
}
function drawSpark(svg, scope) {
	var t = Number(svg.attr("t"));
	var n = Number(svg.attr("n"));
	var TF = thinFilm([t], [n], Number(scope.nsub));
	var data = TF.data;
	var min = 0; //attr.min !== undefined ? +attr.min : d3.min(data);
	var max = (scope.ymax == 'x') ? d3.max(data) : scope.ymax; 
	svg.style("width", scope.slwidth + "em");
	//attr.max !== undefined ? +attr.max : d3.max(data);
	var r = 0;
	var m = 1; //margin
	var w = svg.node().clientWidth;
	var h = Number(scope.hmult)*getComputedStyle(svg.node())['font-size'].replace('px','');
	svg.attr({width: w, height: h});
	//console.log(TF);
	var x = d3.scale.linear().domain([0, data.length - 1]).range([m, w - m]);
	var y = d3.scale.linear().domain([min, max]).range([h - m, m]);
	var lines = [];
	lines = svg.selectAll('path');
	lines.data(data)
		.attr('d', 'M' + data.map(function(d, i){return [x(i),y(d)] }).join('L'));
	lines.attr("stroke",TF.color);
}

function thinFilm(t, n, nsub) {
	var dataset = [];
	var spectrum = [];
	for (var i = 0; i < wl.length; i++) {	
		var v1 = wl[i];
		var v2 = bragg(v1, t, n, nsub);	
		dataset.push([v1, v2]);
		spectrum.push(v2);
	}	
	specColor = colorFromSpectrum(wl, dataset);	
	var retObj = [];
	retObj.data = spectrum;
	retObj.color = "rgb(" + specColor[0] + "," + specColor[1] + "," + specColor[2] + ")";
	return retObj;
}
function bragg(wl, tt, nn, nsub) {
	var M = [[1, 0], [0, 1]];
	var nprev = 1;
	var ncur = 1;
	var kx = 1;
	for (var i=0; i<tt.length; i++) {
		nprev = ncur;
		ncur = Number(nn[i]);
		kx = 2*math.pi*ncur / wl;
		var T = trans(nprev,ncur),
			P = prop(kx*Number(tt[i]));
		M = math.multiply(M,T);
		M = math.multiply(M,P);
	}
	T = trans(ncur,nsub);

	M = math.multiply(M,T);
	var temp = math.divide(M[1][0],M[0][0]);
	var r = math.abs(temp) * math.abs(temp);
	return 100*r;
}

function prop(kxt) {
	var a1 = math.complex(math.cos(kxt),math.sin(kxt)),
		a2 = math.complex(math.cos(-kxt),math.sin(-kxt));
	var M = [[a1, 0], [0, a2]];
	return M;
}
function trans(ni, nj) {
	var r = (ni - nj)/(ni+nj),
		t = 1 + r;
	var M = [[1/t, r/t], [r/t, 1/t]];
	return M;
}
</script>
</html>
